<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss.SSS} [%level] [%logger] [%thread] %msg%ex%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.teragrep.rlp_10.report.Slf4JMetricsReport" level="warn" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="org.eclipse.jetty.server.handler.ContextHandler" level="warn" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="org.eclipse.jetty.server.AbstractConnector" level="warn" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="org.eclipse.jetty.server.Server" level="warn" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
    </Loggers>
</Configuration>